// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
text-align: center; /* centré */
}

h4 {
text-align: center; /* centré */
}

header{
	background-color: #db7093;
	padding: 2%;
}